form input:not([type=checkbox]), 
form textarea {
  display: block;
  width: 100%; /* w-full */
  border: 1px solid grey;
  margin: 0.75rem auto; /* my-3 mx-auto */
  padding: 0.25rem; /* p-1 */
  border-radius: 3px;
}

/* Using this as tailwind css break-words and break-all not giving me expected styling */
.appcss-wordbreak { /* named like this to differentate from tailwind css */
  word-break: break-word;
}

.appcss-pulse {
  animation: loading 1.4s infinite;
}

@keyframes loading {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

form > div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  form > div {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  form > div {
    width: 70%;
  }
}