form input:not([type=checkbox]), 
form textarea {
  display: block;
  width: 100%; /* w-full */
  border: 1px solid grey;
  margin: 0.75rem auto; /* my-3 mx-auto */
  padding: 0.25rem; /* p-1 */
  border-radius: 3px;
}

form > div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  form > div {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  form > div {
    width: 70%;
  }
}